<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-5">
      <h2>User info</h2>

      <%　if @user.image.present? %>
        <%= image_tag %>
      <% else %>
        <%= image_tag %>
      <% end %>

      <table>
        <tbody>
          <tr>
            <th>name</th>
            <th></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th></th>
          </tr>
        </tbody>
      </table>

      <%= form_with model: Book.new do |f| %>
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title %>
        <%= f.label model :body, 'Opinion' %>
        <%= f.submit 'Create Book' %>
      <% end%>
    </div>
  </div>
</div>